#homepage-main-section{
  text-align: center;


  #home-location-options,
  #home-filter-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	max-width: 805px;
	margin: 0 auto;

    div.home-location-option-boxes,
	div.home-filter-option-boxes {

		background-color: white;
		border: 1px solid $color__shadow;
		border-radius: 5px;
		flex-grow: 1;
		padding: 20px 40px;
        margin: 10px 20px;
		width: calc(100% * (1/4) - 10px - 1px);

        span {
          font-size: 24px;
          font-weight: bold;
        }


      }

    div.home-location-option-boxes:hover,
	div.home-filter-option-boxes:hover {
      background-color: $color__shadow;
      color: $white;
      border: 1px solid $white;

    }

  }
}


#homepage-ad-section {

	// background-color: #2A3132;
	margin: 50px auto;
	padding: 10px 0;

	.home-location-ad-box {
		background-color: white;
		height: 90px;
		margin: 10px auto;
		text-align: center;
		width:728px;
	}

}


.hidden {
	display: none;
}
