#homepage-job-postings-section {
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;

	.home-job-postings-container {
		flex: 3;
		border: 1px solid;
		background-color: white;
		max-width: 780px;
		margin-right: 50px;
		margin-bottom: 50px;
		padding: 45px;

		a {
			text-decoration: none;
		}

		.job-posting-singular {
			background-color: #999999;
			color: white;
			display: inline-flex;
			margin: 0 auto 30px;
			max-width: 675px;
			width: 100%;

			.job-posting-singular-icon {
				background-color: #2BA12E;
				border: 1px solid #222;
				color: white;
				font-size: 4em;
				max-width: 150px;
				text-align: center;
				width: 35%;
			}

			.job-posting-singular-content {
				border: 1px solid #222;
				padding: 10px 20px;

				ul {
					display: flex;
					flex-wrap: wrap;

					li {
						background-color: white;
						border: 1px solid #222;
						border-radius: 5px;
						color: #000;
						display: inline;
						font-size: 16px;
						padding: 5px 20px;
						margin: 5px 15px;
						min-width: 150px;
					}
				}
			}
		}

		.job-posting-singular:hover {
			-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
		}
	}

	.home-job-postings-sidebar {
		flex: 1;

		.job-posting-sidebar-element {
			border: 1px solid #222;
			background-color: white;
			margin-bottom: 40px;
			padding: 40px 10px;
			text-align: center;
		}
	}
}
