.job-postings-container {
	border: 1px solid #E1E2E6;
	background-color: white;
	// max-width: 780px;
	margin-bottom: 50px;
	padding: 45px;

	a {
		text-decoration: none;
	}

	.job-posting-singular {
		background-color: #eeeeee;
		color: #2BA12E;
		display: inline-flex;
		margin: 0 auto 30px;
		// max-width: 675px;
		width: 100%;

		.job-posting-singular-icon {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background-color: #2BA12E;
			border: 1px solid #E1E2E6;
			color: white;
			font-size: 4em;
			max-width: 100px;
			min-width: 100px;
			text-align: center;
			width: 35%;
		}

		.job-posting-singular-content {
			border: 1px solid #E1E2E6;
			padding: 10px 20px;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					background-color: white;
					border: 1px solid #E1E2E6;
					border-radius: 5px;
					color: #000;
					display: inline;
					font-size: 16px;
					padding: 5px 20px;
					margin: 5px 15px;
					min-width: 185px;
				}
			}
		}
	}

	.job-posting-singular:hover {
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.35);
		-moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.35);
		box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.35);
	}
}

.job-postings-sidebar {
	border: 1px solid #E1E2E6;
	background-color: white;
	margin-bottom: 40px;
	padding: 40px 10px;
	text-align: center;

	.job-posting-sidebar-element {}
}
