article.job-postings {

	margin-top: 50px;

	@media screen and (max-width: 550px) {
		margin-top: 0;
	}

	.apply-forward-print {

		margin-bottom: 20px;
		min-height: 75px;

		a {
			color: #2A3132;
		}

		a:hover {
			color: $color__green;
		}

		.two-thirds {
			text-align: center;
		}

		.one-third {
			text-align: right;

			@media screen and (max-width: 550px) {
				margin: 20px auto;
				text-align: center;
			}

			.fa {
				font-size: 46px;
				margin: 0 10px;
			}
		}
	}

	.job-posting-info-box {
		border: 1px solid #cccccc;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 20px;
	}
}

.gform_wrapper li.gfield div.gfield_description,
.gform_wrapper li.gfield div.ginput_container.ginput_container_checkbox {
    font-size: 16px;
}

@media print {
	.no-print {
		display: none;
	}

	header {
		margin-bottom: 30px;
	}
}
