/**
 * Set Site Color Palette
 *
 * All of these can be variables
 */

$white: #fff;
$black: #000;

$color__mist: #90AFC5;
$color__stone: #336B87;
$color__shadow: #2A3132;
$color__autumn: #763626;
$color__green: #22a324;


$base__color: #333;
$body__backgroundColor: #F3F3F3;

$link__color: #c3251d;
$link__hover: #333;
$link__focus: #333;

$color__border: #E1E2E6;

//
// Navigation Colors
//

$nav__linkColor: #333;
$nav__hoverColor: #c3251d;
$submenu__borderColor: #E1E2E6;
$submenu__linkBackgroundColor: $white;

$primaryNav__backgroundColor: $white;
$primaryNav__borderColor: #E1E2E6;
$primaryNav__linkColor: $nav__linkColor;

$secondaryNav__backgroundColor: $white;
$primaryNav__borderColor: #E1E2E6;
$secondaryNav__linkColor: $nav__linkColor;

$jsNav__backgroundColor: $white;
$jsNav__linkColor: $black;
$jsNav__focusColor: #c3251d;


$siteHeader__backgroundColor: $white;
$siteFooter__backgroundColor: $white;
