/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
	background-color: $color__shadow;
	color: $white;
}

.site-header > .wrap {
	padding: 5px 10px;
}

.header-widget-area {
	.widget {
		margin-bottom: 0;
	}

	.widget_search {
		width: 60%;
	}

	.search-form,
	input[type="search"] {
		width: 100%;
	}
}


@media screen and (max-width: 1023px) {
	.header-widget-area .widget_search {
		width: 100%;
	}
}
