/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: $color__shadow;
  color: $white;
}

.site-header > .wrap {
  padding: 20px 0;
}