/* # Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 60px 0;
	text-align: center;

	#menu-footer a {
		color: #2A3132;
	}
}

.site-footer p {
	color: #2A3132;
	font-weight: 600;
	margin-bottom: 0;
}
